---
title: Kubectl Reference

language_tabs:
  - shell

toc_footers:
  - <a href='https://github.com/kubernetes/kubernetes'>Copyright 2016 The Kubernetes Authors.</a>

includes:{{range $group := .TopLevelCommandGroups}}
  - generated_{{$group.Group}}{{range $command := $group.Commands}}
  - generated_{{$command.Command.Name}}{{end}}{{end}}

search: true
---

# Introduction

Welcome to the Kubectl reference docs!

