---
title: Kubernetes API Reference

language_tabs:
  - shell
  - yaml

toc_footers:
  - <a href='https://github.com/kubernetes/kubernetes'>Copyright 2016 The Kubernetes Authors.</a>

includes:
  - overview{{range $include := .}}
  - {{$include}}{{end}}

search: false
---
